.container-pagina-principal {
    background-color: #E1EBDF;
    height: 100%;
}

.info-escola-container {
    margin-top: 10px;
    width: 80%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 20px; /* Ajuste o espaço entre os cards */
    margin-left: 8%;
}
  
  .card-container > * {
    flex: 1 1 calc(50% - 10px); /* Define a largura dos cards */
    box-sizing: border-box;
  }
  
  