.container-principal-detalhes-atividade{
    background-color: #F5EDDE;
    height: 100%;
    min-height: 100vh;
}
.container-atividade{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    padding: 50px;
    width: 80%;
}
.atividade-title {
  margin-bottom: 20px;
  text-align: center;
}

.info-section-atividade {
  /* display: flex; */
  align-items: center; 
  width: 100%;
  /* margin-bottom: 10px; */
  padding: 20px;
}

  .container-data-entrega{
  display: flex;  
    align-items: center;
}
  .container-info-section {
    /* display: flex; */
    align-items: center;
    width: 10%;
    margin-left: 85%;
    margin-bottom: 10px;
  }
  
  .info-section label {
    font-weight: bold;
  }
  
  .small-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  
  .line-atividade {
    width: 100%;
    border: 1px solid #000;
    margin: 20px 0;
  }
  
  .text-atividade {
    margin: 10px 0;
  }
  
  .right-aligned-atividade   {
    justify-content: flex-end;
  }
  .image-button{
    width: 70px;
    height: 70px;
    margin-left: 90%;
  }